@import "bootstrap/_variables";
@import "bootstrap/_mixins";

body {
  font-family: "Bitter", georgia, serif;
  overflow-x: hidden;
  font-size: 12px;
  color: #333333;
  min-width: 480px;
}
.container-fluid {
  max-width: 1170px;
}
.img-slider {
  /*small size img fix responsive*/
  img {
    margin: 0 auto;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      display: block;
      overflow: hidden;
    }
  }
}
.slider {
  margin-bottom: 20px;
  h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
  }
  ul {
    padding: 0;
    overflow: hidden;
    li {
      list-style-type: none;
      float: left;

      img {
        margin: 0 auto;
      }
      h3 {
        font-size: 16px;
        text-align: center;
      }
      .price {
        color: #00a9c7;
        display: block;
        text-align: center;
      }
    }
  }
}
.top-banners {
  .one-banner {
    padding-top: 10px;
    padding-bottom: 10px;
    img.ico-banner {
      margin-right: 15px;
      float: left;
    }
    .banner-content-wrapper {
      display: block;
      overflow: hidden;

      span {
        font-size: 11px;
        text-transform: uppercase;
        color: #888;
      }
      h4 {
        font-size: 20px;
      }
      a {
        font-family: Arial, Helvetica, sans-serif;;
      }
    }

  }
}
.features {
  .featured-list {
    img {
      margin-right: 15px;
      float: left;
    }
    .featured-content-wrapper {
      display: block;
      overflow: hidden;
      padding-left: 50px;
      margin-bottom: 10px;

      .number {
        margin-left: -50px;
        display: block;
        background: #ddd;
        border-radius: 20px;
        float: left;
        line-height: 36px;
        width: 36px;
        height: 36px;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
      }
      h4 {
        margin-top: 0;
        font-size: 16px;
      }
      p {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  .featured-img {
    .img-wrap {
      margin-bottom: 30px;
    }
  }
}

/*Custom 5-col layout */
#brands ul li{
  width: 20%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .img-slider {
    .controls-img {
      margin-top: 30px;
    }
  }
  #custom-banners {
    ul li {
      margin-bottom: 30px;
    }
  }
  #brands ul li{
    width: 25%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {

  #brands ul li{
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}